@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* .content {
    width: 1280px;
} */

.header {
    margin-top: 63px;
    text-decoration: none;
    font-size: 80px;
    color: #000000;
    width: 334px;
    height: 79px;
}


span {
    color: #4bcaff;
}

span:hover {
    color: #249dd1;
}

nav {
    margin-top: 38px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    background: #35444F;
    align-items: center;
    color: #FFFFFF;
}

.nav-list {

    text-decoration: none;
    color: #FFFFFF;
    padding: 22px 40px;
}

.nav-list:hover {
    padding: 22px 40px;
    display: flex;
    align-items: center;
    background: #222F3A;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-left: -1px;
    margin-right: -1px;
}



.aside-aside {

    width: 344px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.aside-aside-list {
    padding: 25px;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    color: #495863;
    text-decoration: none;
}

.aside-aside-list:hover {
    padding-left: 50px;
    background-color: #DBDBDB;
    transition-duration: 0.4s;
    cursor: pointer;
}

.main {
    width: 885px;
}

.ramda-img {
    padding: 75px 0;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ramda-img:hover img {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.text p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
}

footer {
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 54px;
    font-size: 24px;
    display: flex;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    padding: 8px 0;


}

.footer-list {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 28px;
    line-height: 28px;
    padding: 14px;
    border-bottom: 1px solid transparent;
}

footer>p {
    padding-left: 135px;
    font-size: 28px;
}

.footer-list:hover {
    color: #3181A6;
    border-bottom-color: #3181A6;

}